*{
    margin:0;
    box-sizing:border-box;
    
}

.select-box{
    display:flex;
    flex-direction: column;
}

.selected{
    position: relative;
    order: 0;
}

.select-box .options-container{
    order: 1;
    width: 100%;
    transition: all 0.4s;
    max-height: 0;
    overflow: hidden;
    opacity:0;
}


.select-box .options-container.active{
    max-height:240px;
    opacity:1;
}

.select-box .options-container.active + .selected::after{
    transform:rotateX(180deg);
    top:-35px;
}

.select-box .option:hover{
    background: #d8d8d8d7 !important;
}
.selected::after{
    content: "";
    background:url("../images/flecha-hacia-abajo.svg");
    background-repeat: no-repeat;
    position: absolute;
    height: 100%;
    width: 20px;
    right: 13em;
    top:20px;
    color:#000;

    transition:all 0.4s;
    
}

.select-box .option,
.selected{
    cursor: pointer;
}